body{
    background-color:rgb(39, 159, 129);
}
table{
    margin:160px 50px 30px 500px;
    background-color: rgb(0, 0, 0);
    
}
table,td {
        border: 3px solid black;
        text-align: center;
     }
td{
    height:80px;
    width:90px;
    
}
#calc{
 width: 325px;
border: 3px solid white;
background-colour: rgb(0, 0, 0);
border-radius: 3px;
padding: 20px;
margin: auto;
}
button{
    font-size:23px;
    height:59px;
    width:69px;
}


@media only screen and (max-width: 600px) {
table{
    margin-left:160px;
}
}
@media only screen and (max-width: 800px) {
table{
    margin-right:0px;
    margin-left:180px;
}
}
@media only screen and (max-width: 1200px) {
table{
    
    margin-left:190px;
}
}
@media only screen and (max-width: 1200px) {
    table{
        
        margin-left:190px;
    }
    }
